@import "tailwindcss";

@theme {
  --color-dark-pink: #4D2C66;
  --color-orange: #FA9F54;
  --color-dark-blue: #10294F;
  --leading-120: 120%;
  --leading-125: 125%;
  --leading-175: 175%;
  --leading-156: 156%;
  --leading-130: 130%;
}

@font-face {
  font-family: 'expo-arabic';
  src: url('../../public/assets/fonts/expo-arabic/expro.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'expo-arabic-bold';
  src: url('../../public/assets/fonts/expo-arabic/Expo-Arabic-bold.ttf');
}

@font-face {
  font-family: 'expo-arabic-light';
  src: url('../../public/assets/fonts/expo-arabic/Expo-Arabic-Light.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'expo-arabic-med';
  src: url('../../public/assets/fonts/expo-arabic/Expo-Arabic-med.ttf');
}

* {
  scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
  font-family: 'expo-arabic' !important;
}

.ff_light {
  font-family: 'expo-arabic-light' !important;
}

.ff_e {
  font-family: 'expo-arabic' !important;
}

.bg_hero {
  background-image: url('/assets/images/webp/hero-bg.webp');
  background-size: cover;
  background-position: top;
}

.bg_features_eng {
  background-image: url('/assets/images/webp/features-ai.webp');
  background-size: cover;
  background-position: top;
}

.bg_gradient {
  background-color: rgba(255, 255, 255, 0.12);
  /* fallback for older browsers */
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
}

.font-bold {
  font-family: 'expo-arabic-bold' !important;
}

.font-medium {
  font-family: 'expo-arabic-med' !important;
}


/* globals.css or wherever you add custom styles */
.direction-rtl {
  direction: rtl;
}

.direction-rtl>* {
  direction: ltr;
  /* so inner content stays normal */
}